
body{
    background-color: rgba(132, 148, 131, 0.251);
}


.container-grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 1520px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {

    height: 470px;
    width: 100vw;
    background-color: #849483;
    border-radius: 0px 0px 150px 150px;

}

.banner {
    background-image: url(img/banner.png);
    height: 130vh;
    background-position: 50% 20%;
    background-size: cover;


}

/*tamanho do logotipo*/
.banner .container-grid img {
    width: 80%;
    height: 80%;

}

.menu-cima  {   
    
    text-align: end;

    display: flex;
    margin-top: 0px;
}

.menu {
    
    display: flex;
    gap: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.menu a {

  
    font-size: 24px;
    font-family: 'michroma';

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;    

}

#sobre {   
        
    height: 470px;
    width: 100vw;
    background-color: #849483;
    border-radius: 0px 0px 150px 150px;

}

#sobre div{
    flex-direction: column;
}

#sobre img {
    
    width: 40%;
    height: 70%;
}
.alinhamento-sobre{
    display: flex;
    flex-direction: column;

    text-align: left;

    width: 360px;
}

#sobre .container-grid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 20px;
    
}

#sobre h2 {
    font-size: 24px;
    font-family: 'montserrat';
    color: white;
    font-weight: 500;
    
}

#sobre p {
    font-size: 18px;
    font-family: 'montserrat';
    color: white;

}

#portfolio {

    height: 995px;
    width: 100vw;
   
}

#portfolio h2 {
    font-size: 64px;
    font-family: 'michroma';
    margin-top: 50px;
}

#portfolio .container-portfolio {
    width: 35%;

    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

#cases h2{
    font-size: 64px;
    font-family: 'michroma';
    margin-top: -200px;
}

.carrossel {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;
  }

  .botao {

    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .video {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  #beneficios {
    width: 100vw;
    height: 670px;
    background-color: #1756A6;
    border-radius: 150px 150px 0px 0px;
  }

  #beneficios h2 {
    font-size: 64px;
    font-family: 'michroma';
    margin-top: 350px;
  }

.container-cards {
    display: flex;
    justify-content: space-between;

    margin-top: 100px;

    

}
  

