



.container-grid {
    margin: 0 auto;
    width: 80vw;
    max-width: 1520px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {

    height: 370px;
    width: 100vw;
    background-color: #849483;
    border-radius: 0px 0px 150px 150px;

}

.banner {
    background-image: url(img/banner.png);
    height: 150vh;
    background-position: 50% 20%;
    background-size: cover;


}

/*tamanho do logotipo*/
.banner .container-grid img {
    width: 80%;
    height: 80%;

}

.menu-cima  {   
    
    text-align: end;

    display: flex;
    margin-top: 0px;
}

.menu {
    
    display: flex;
    gap: 36px;
    margin-top: 10px;
    margin-bottom: 20px;
    
}

.menu a {

  
    font-size: 24px;
    font-family: 'michroma';

    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;    

}

#sobre {   
        
    height: 370px;
    width: 100vw;
    background-color: #849483;
    border-radius: 0px 0px 150px 150px;

}

#sobre div{
    flex-direction: column;
}

#sobre img {
    
    width: 40%;
    height: 70%;
}
.alinhamento-sobre{
    display: flex;
    flex-direction: column;

    text-align: left;

    width: 360px;
}

#sobre .container-grid{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 20px;
    
}

#sobre h2 {
    font-size: 24px;
    font-family: 'montserrat';
    color: white;
    font-weight: 500;
    
}

#sobre p {
    font-size: 18px;
    font-family: 'montserrat';
    color: white;

}

#portfolio {

    height: 995px;
    width: 1920px;
    background-color: rgba(132, 148, 131, 0.25);
    background-position: ;

}
